body {
        background-color:#F5F5F5;
    }
h1 {
        width: 100%;
        font-size: 100px;
        font-weight: 100;
        font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: rgba(175, 47, 47, 0.15);
        display:flex;
        justify-content:center;
    } 
.new-todo {
        padding:16px 180px 16px 60px;
        position:relative;
        border:none; 
        background:white;
        box-shadow:inset 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
        font-size: 24px;
        box-sizing: border-box;
        font-family:inherit;
        font-weight:inherit;
        color:inherit;
        display:flex;
        margin:auto;
        flex-direction:column;
    }
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    

 

