body {
        background-color:#F5F5F5;
        font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
h1 {
        width: 100%;
        font-size: 100px;
        font-weight: 100;
        color: rgba(175, 47, 47, 0.15); 
        display:flex;
        justify-content:center;
    } 
.new-todo {
        padding:16px 180px 16px 60px;
        position:relative; 
        background:white;
        font-size: 24px;
        box-sizing: border-box;
        font-family:inherit;
        font-weight:inherit;
        color:inherit;
        display:flex;
        margin:auto;
        flex-direction:column;
        border:none;
    }
    
.todo-list {
        width: 400px;
        margin: auto;
        padding: 0;
      }
.todo-list-item {
        position: relative;
        height: 44px;
        list-style: none;
        padding: 0px 16px;
        border: solid 1px rgba(0, 0, 0, 0.12);
        background-color:white;
        margin:8px 8px;
      }
.todo-list-item-text {
        line-height: 44px;
        font-size:24px;
      }
#todo-list-item-trash {
        position: absolute;
        top:0;
        right: 0;
        display:none;
        text-align:right;
        font-size:200%;
      }
.todo-list-item:hover #todo-list-item-trash {
        display: block;
      }

 

